# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS / editors
.DS_Store
Thumbs.db
.vscode/

# Build/output
build/
dist/
*.egg-info/
